/**** Header section ****/
html, body, header {
  font-family: 'Roboto', 'Helvetica', 'Ubuntu', sans-serif;
}


.mdl-layout__tab-bar
{
  overflow: visible !important;
}

.mdl-layout__content {
  /* margin-top: -35vh; */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 42px;
  padding-top: 42px;
  padding-right: 42px;
}

.mdl-layout.is-small-screen .material-icons {
  color:rgba(66,66,66) !important;
}

.mdl-layout.is-small-screen .mdl-layout__content {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.mdl-layout-title
{
  font-family: 'Ubuntu';
  font-size: 30px;
}

a.TitleLink
{
  font-family: 'Ubuntu';
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.mdl-card__post
{
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
  background-color: white;
}

/**** Navigation drawer section ****/

.mdl-navigation
{
  font-family: 'Ubuntu';
}

.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.mdl-card__heading {
  background-color:rgb(255,171,64, 0.9);
  background-repeat:repeat;
  background-position:50% 50%;
  background-size:cover;
  background-origin:padding-box;
  background-attachment:scroll;
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/**** Grid section ****/

.demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

/**** Card section ****/

.mdl-card__title-text {
  /* font-family: 'Roboto'; */
  box-sizing: border-box;
  background-size: cover;
  padding: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h3 > a
{
  color:rgba(66,66,66);
  font-weight: 400;
  font-family: 'Roboto';
  text-decoration: none;
}

.mdl-card__title
{
  color:rgba(66,66,66);
  /* color: black; */
  font-weight: 400;
  font-family: 'Roboto';
}

.mdl-card__date {

  /* display: flex; */
  margin: auto;
  font-size: 14px;
  color:rgba(66,66,66, .85);
  text-align: right;
}

.mdl-card__date-left {

  /* display: flex; */
  margin: auto;
  font-size: 14px;
  color: #595F72;
  text-align: left;
}

.mdl-card__supporting-chips
{
  text-align: right;
  padding: 16px;
}

.mdl-card__supporting-text
{
  padding-left: 24px;
  color:rgba(116, 114, 113)
}

.mdl-card__supporting-text > a
{
  color: blue;
}

.mdl-chip
{
  background-color:#dededeb6;
  cursor: default;
  /* background-color:rgb(255,171,64, 0.9); */
}

.seethrough-card {
  background-color: rgba(255, 255, 255, .98);
}

.seethrough-card .mdl-card__media {
  background:none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.mdl-card__actions{
  text-align: right;
  padding:0px;
}

.post-container
{
  max-width: 1600px;
  /* min-width: 1200px; */
  width: calc(100% - 16px);
  margin: 0 auto;
}

.post-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.post-content h3 {
  margin-top: 48px;
}

.post-content .mdl-card__media {
  background:none;
  /* prevent img from overflowing */
  overflow:hidden;
}

.mdl-layout.is-small-screen .post-content {
  padding: 40px 28px;
}

/* Different card examples */

/* .seethrough-card > .mdl-card__title
{
  background-color: rgba(255, 255, 255, 0.9);;
} */

/* .seethrough-card .mdl-card__media {
  background-image: url('../img/gifs/ClampQuaternion.gif');
  width: auto;
  height: 300px;
  padding-left:16px;
  cursor: pointer;
} */

/* .quaternion-clamp .mdl-card__media {
  background-image: url('../img/cube_viz.jpg');
  width: auto;
  height: 300px;
  padding-left:16px;
  cursor: pointer;
} */

/* .seethrough-card .mdl-card__media > h3 > a {
  color: white !important;
  font-weight: 400;
  font-family: 'Roboto';
  text-decoration: none;
} */

/**** Mobile layout ****/
@media (max-width: 1024px) {
  .mdl-layout__tab-bar
  {
    display: none;
  }

  .low-prio-card
  {
    display: none;
  }

  .mdl-layout__tab-bar-container{
    height: 10px;
  }

  .mdl-layout__header-row
  {
    background:rgb(244,67,54);
  }

  .mdl-layout.is-small-screen .mdl-layout__drawer-button {
    /* doesn't work on small screens */
    color: white;
  }

  .mdl-layout__header-row .mdl-navigation
  {
    display: none;
  }

  .mdl-layout__tab-bar-right-button, .mdl-layout__tab-bar-left-button
  {
    display:none;
  }
}