{% extends "header.html" %}

{% block body %}
  <script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
  <script src="{{ url_for('static', filename='node_modules/three/examples/js/controls/OrbitControls.js')}}"></script>
  <script src="{{ url_for('static', filename='js/blankBg.js')}}"></script>

  <!-- beware, this main class breaks orbit controls -->
  <main class="mdl-layout__content">


    <div class="mdl-grid demo-blog__posts">

      {% for t in TOPIC_DICT["3D"] %}
        <div class="{{t[1]}} mdl-card mdl-cell mdl-cell--8-col mdl-cell--{{t[6]}}-col-desktop mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h3 class="mdl-card__title-text"> 
              {% if t[4] %}
                <a href="{{ url_for(t[4]) }}">{{t[0]}}</a>
              {% else %}
                {{t[0]}}
              {% endif %}
            </h3>
            <div class="mdl-card__date">Date: {{t[3]}}</div>
          </div>
          <div class="mdl-card__actions mdl-card--border"></div>
          <div class="mdl-card__text-background">
            <div class="mdl-card__supporting-text">
              {% if t[7] %}
              <p>
              <div class="mdl-card__media">
                  <img src="{{ url_for('static', filename=t[7])}}"  alt="clamp quaternion"  width="500"/>
              </div>
              </p>
              {% endif %}
              <!-- <img src="{{ url_for('static', filename='img/gifs/ClampQuaternion.gif')}}" alt="clamp quaternion"  width="500" /> -->
              {{t[2]}}
            </div>
            <div class="mdl-card__supporting-chips">
              {% for c in t[5] %}
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{c}}</span>
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  
    </div>
    <!-- <div class="quaternion-clamp mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">Clamp Quaternion</a></h3>
      </div>
      <div class="mdl-card__actions mdl-card--border"></div>
      <div class="mdl-card__text-background">
        <div class="mdl-card__supporting-text">
          Project description here is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
        </div>
        <div class="mdl-card__supporting-chips">
          <span class="mdl-chip">
            <span class="mdl-chip__text">Accounts receivable</span>
          </span>
          <span class="mdl-chip">
            <span class="mdl-chip__text">BOM Journal</span>
          </span>
          <span class="mdl-chip">
            <span class="mdl-chip__text">Invoice</span>
          </span>
        </div>
      </div>
    </div>
  
    <div class="seethrough-card mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">Clamp Quaternion</a></h3>
      </div>
      <div class="mdl-card__actions mdl-card--border"></div>
      <div class="mdl-card__text-background">
        <div class="mdl-card__supporting-text">
          Project description here is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
        </div>
        <div class="mdl-card__supporting-chips">
          <span class="mdl-chip">
            <span class="mdl-chip__text">Accounts receivable</span>
          </span>
          <span class="mdl-chip">
            <span class="mdl-chip__text">BOM Journal</span>
          </span>
          <span class="mdl-chip">
            <span class="mdl-chip__text">Invoice</span>
          </span>
        </div>
      </div>
    </div> -->



  </main>
  {% endblock %}