{% extends "header.html" %}

{% block body %}
  <script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
  <script src="{{ url_for('static', filename='node_modules/three/examples/js/controls/OrbitControls.js')}}"></script>
  <script src="{{ url_for('static', filename='node_modules/three/examples/js/loaders/FontLoader.js')}}"></script>
  <script src="{{ url_for('static', filename='js/3dMenu.js')}}"></script>
  <!-- <script src="{{ url_for('static', filename='js/text.js')}}"></script> -->

  <!-- This is necessary, otherwise ther will be an error: Cannot read properties of undefined (reading 'querySelectorAll') -->
  <!-- However, it prevents orbit controls from working -->
  <!-- <main class="mdl-layout__content"></main> -->

  


  {% endblock %}