{% extends "header.html" %}

{% block body %}

<script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
<script src="{{ url_for('static', filename='node_modules/three/examples/js/controls/OrbitControls.js')}}"></script>
<script src="{{ url_for('static', filename='js/scraperViz.js')}}"></script>

<div class="mdl-grid portfolio-max-width portfolio-contact">
    <div class="seethrough-card mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <div class="mdl-card__heading mdl-color-text--grey-50">
            <h3>Mail</h3>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                Feel free to send me a message!
            </p>
            <form action="#" class="">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                    <label class="mdl-textfield__label" for="Name">Name...</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="Email">
                    <label class="mdl-textfield__label" for="Email">Email...</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                    <label class="mdl-textfield__label" for="note">Enter note</label>
                </div>
                <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                        Submit
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}