{% extends "header.html" %}

{% block body %}
  <script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
  <!-- <script src="{{ url_for('static', filename='js/blankBg.js')}}"></script> -->

  <!-- <iframe width='600' height='960' src="{{ url_for('maze_golf') }}" frameborder="0"></iframe> -->

  <div class="game-container mdl-grid">


    <iframe width='600' height='640' src="{{ url_for('maze_golf') }}" frameborder="0" allowfullscreen></iframe>


  </div>
{% endblock %}