<html>
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>

		<canvas id="bg">
			<script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
			<script src="{{ url_for('static', filename='node_modules/three/examples/js/controls/OrbitControls.js')}}"></script>
			<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
			<script src="{{ url_for('static', filename='js/meshBuildTest.js')}}"></script>  
		</canvas>
	</body>
</html>




