{% extends "header.html" %}

{% block body %}

<script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
<script src="{{ url_for('static', filename='js/blankBg.js')}}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="dashboard-container mdl-grid">
  <!-- 2col side that is hidden on small screens -->
  <!-- <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div> -->
  <!-- <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col"> -->
    <div class="dashboard-card-holder mdl-cell mdl-cell--12-col mdl-grid mdl-color--white">
        <div class="dashboard-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-mobile mdl-color--white mdl-shadow--2dp">
            <div id="div_basicResize"></div>
        </div>
        <div class="dashboard-card dashboard-card mdl-cell mdl-cell--6-col mdl-color--white mdl-shadow--4dp">
            <!-- MDL Spinner Component with Single Color -->
            <!-- <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div> -->
            <div id="div_basicResize2"></div>
        </div>
    </div>

</div>

<!-- GRAPH1 -->
<script>
  var data = '{{ cntDict }}';

  //this is needed to remove html special characters that come as a result of flasks jsonify
  var decoded = $("<div/>").html(data).text();
  //there is still b'{json}' left, remove that via substring
  var decoded = decoded.substring(2, decoded.length-1);

  const dataObj = JSON.parse(decoded);

  //DATA SORT
  //transform object into an array
  let sortable = [];
  for (var make in dataObj) {
      sortable.push([make, dataObj[make]]);
  }
  //sort the array
  sortable.sort((a, b) => b[1] - a[1]);
  //transform back into an object
  let dataObjSorted = {}
  sortable.forEach(function(item){
    dataObjSorted[item[0]]=item[1]
  })

  //CHART PARAMS
  width = parseInt(d3.select('#div_basicResize').style('width'), 10);
  height = undefined;

  x = d => d.frequency; // given d in data, returns the (quantitative) x-value //this shows the d3.map function what values from array to return as X
  y = d => d.letter; // given d in data, returns the (ordinal) y-value
  xDomain = undefined; // [xmin, xmax]
  //yDomain = d3.groupSort(dataObjSorted, ([d]) => -d.frequency, d => d.letter); // an array of (ordinal) y-values
  yDomain = undefined;
  yPadding = 0.1; // amount of y-range to reserve to separate bars
  marginTop = 30; // the top margin, in pixels
  marginRight = 0; // the right margin, in pixels
  marginBottom = 10; // the bottom margin, in pixels
  marginLeft = 70; // the left margin, in pixels
  xFormat = "s";
  xRange = [marginLeft, width - marginRight]; // [left, right]
  xType = d3.scaleLinear; // type of x-scale
  xLabel = "Frequency →";
  color = '#848C8E';
  mouseoverColor = '#F44336';
  titleColor = "white"; // title fill color when atop bar
  titleAltColor = "currentColor"; // title fill color when atop background
  yRange = undefined; // [top, bottom]
  title = undefined; // given d in data, returns the title text

  const X = [], Y = [];
  for(let key in dataObjSorted){
      if(dataObjSorted.hasOwnProperty(key)){
          Y.push(key);
          X.push(parseInt(dataObjSorted[key]));
      }
  }

  // Compute default domains, and unique the y-domain.
  // Array of two values, 0 and max(X)
  if (xDomain === undefined) xDomain = [0, d3.max(X)];
  //all y values
  if (yDomain === undefined) yDomain = Y;
  yDomain = new d3.InternSet(yDomain);

  // Omit any data not present in the y-domain.
  const I = d3.range(X.length).filter(i => yDomain.has(Y[i]));

  // Compute the default height.
  if (height === undefined) height = Math.ceil((yDomain.size + yPadding) * 25) + marginTop + marginBottom;
  if (yRange === undefined) yRange = [marginTop, height - marginBottom];  

  const svg = d3.select("#div_basicResize").append("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [0, 0, width, height])
      .attr("style", "max-width: 100%; height: auto; height: intrinsic;");

  // Construct Y scales and axes.
  const yScale = d3.scaleBand(yDomain, yRange).padding(yPadding);
  const yAxis = d3.axisLeft(yScale).tickSizeOuter(0);

  //xAxis
  svg.append("g")
      .attr("transform", `translate(0,${marginTop})`) //0 on x, 30down on y
      .attr("id", "xAxis")
      .call(g => g.select(".domain").remove())
      .call(g => g.selectAll(".tick line").clone()
          .attr("y2", height - marginTop - marginBottom)
          .attr("stroke-opacity", 0.1))
      .call(g => g.append("text") //this is the "frequency" on x axis
          .attr("id", "xAxisText")
          .attr("x", width - marginRight)
          .attr("y", -22)
          .attr("fill", "currentColor")
          .attr("text-anchor", "end")
          .text(xLabel));

  //yAxis with ticks and names
  svg.append("g")
      .attr("transform", `translate(${marginLeft},0)`)
      .call(yAxis);

  //create bars
  svg.append("g")
      .attr("id", "rect")
      .attr("fill", color)
      .selectAll("rect")
      .data(I)
      .join("rect")
      .on('mouseover', function(d) {
                d3.select(this).attr("fill", mouseoverColor)
            })
      .on('mouseout', function(d) {
                d3.select(this).attr("fill", color)
            })
      .on('click', function(d, i) {
                console.log(Y[i]);
            })
      .attr("y", i => yScale(Y[i]))
      .attr("height", yScale.bandwidth());

  //create barText
  svg.append("g")
      .attr("id", "barText")
      .attr("fill", titleColor)
      .attr("text-anchor", "end")
      .attr("font-family", "sans-serif")
      .attr("font-size", 10)
      .selectAll("text")
      .data(I)
      .join("text")
      .attr("class", "foo")
      .attr("y", i => yScale(Y[i]) + yScale.bandwidth() / 2)
      .attr("dy", "0.35em")
      .attr("dx", -4)

  title = i => `${X[i]}`;

  function ChartResize() {
      // get the current width of the div where the chart appear, and attribute it to Svg
      currentWidth = parseInt(d3.select('#div_basicResize').style('width'), 10);
      xRangeCur = [marginLeft, currentWidth - marginRight];
      svg.attr("width", currentWidth)
          .attr("viewBox","0 0 " + currentWidth + " " + height)

      //recalculate scale and axis for x
      var xScale = xType(xDomain, xRangeCur);  //x will be updated based on current window size.
      var xAxis = d3.axisTop(xScale).ticks(currentWidth / 80, xFormat); //how many ticks to display.

      //update x axis with new values
      svg.select("#xAxis").attr("transform", `translate(0,${marginTop})`).call(xAxis) //0 on x, 30down on y;
      svg.select("#xAxisText")
          .attr("x", currentWidth - marginRight)
          .attr("y", -22)

      // update the bar size
      d3.selectAll("rect")
          .data(I)
          .attr("x", xScale(0))
          .attr("width", i => xScale(X[i]) - xScale(0));

      //this can be done differently for my example, where I don't need xscale
      //hence don't need to redo all of these. Or at least the part above.
      d3.selectAll(".foo")
          .data(I)
          .attr("x", i => xScale(X[i]))
          .text(title)
              .call(text => text.filter(i => xScale(X[i]) - xScale(0) < 25) // short bars
                  .attr("dx", +4)
                  .attr("fill", titleAltColor)
                  .attr("text-anchor", "start"))
              .call(text => text.filter(i => xScale(X[i]) - xScale(0) >= 25) // long bars
                  .attr("dx", -4)
                  .attr("fill", titleColor)
                  .attr("text-anchor", "end"));
  }

  ChartResize();
  window.addEventListener('resize', ChartResize );
</script>

<!-- GRAPH2 -->
<!-- frequency graph -->
<script>
    //SVG size
    width = parseInt(d3.select('#div_basicResize2').style('width'), 10); // the outer width of the chart, in pixels
    height = 400; // the outer height of the chart, in pixels
    //CHART PARAMS
    x = (d, i) => d.yearMonth; // given d in data, returns the (quantitative) x-value //this shows the d3.map function what values from array to return as X
    y = d => d.Count; // given d in data, returns the (ordinal) y-value
    xDomain = undefined; // [xmin, xmax]
    //yDomain = d3.groupSort(dataObjSorted, ([d]) => -d.frequency, d => d.letter); // an array of (ordinal) y-values
    yDomain = undefined;
    xPadding = 0.1; // amount of y-range to reserve to separate bars
    marginTop = 20, // the top margin, in pixels
    marginRight = 0, // the right margin, in pixels
    marginBottom = 30, // the bottom margin, in pixels
    marginLeft = 40, // the left margin, in pixels
    yFormat = "s";
    yRange = [height - marginBottom, marginTop], // [bottom, top]
    xRange = [marginLeft, width - marginRight], // [left, right]
    yType = d3.scaleLinear; // type of x-scale
    yLabel = "YYYYMM →";
    color = '#848C8E';
    mouseoverColor = '#F44336';
    titleColor = "white"; // title fill color when atop bar
    titleAltColor = "currentColor"; // title fill color when atop background
    title = undefined; // given d in data, returns the title text
  
    svg = undefined;
    X = undefined;
  
    var data = '{{ freqDict }}';
    console.log(data);
    if(data) {
      BuildChart();
      ChartResize();
    }
  
    function BuildChart() {
      //this is needed to remove html special characters that come as a result of flasks jsonify
      var decoded = $("<div/>").html(data).text();
      //there is still b'{json}' left, remove that via substring
      var decoded = decoded.substring(2, decoded.length-1);
  
      const dataObj = JSON.parse(decoded);
      // console.log(dataObj);
  
      X = d3.map(dataObj, x);
      const Y = d3.map(dataObj, y);
  
      // Compute default domains, and unique the x-domain.
      if (xDomain === undefined) xDomain = X;
      if (yDomain === undefined) yDomain = [0, d3.max(Y)];
      xDomain = new d3.InternSet(xDomain);
  
      // Omit any data not present in the x-domain.
      const I = d3.range(X.length).filter(i => xDomain.has(X[i]));
  
      svg = d3.select("#div_basicResize").append("svg")
          .attr("width", width)
          .attr("height", height)
          .attr("viewBox", [0, 0, width, height])
          .attr("style", "max-width: 100%; height: auto; height: intrinsic;");
  
      // Construct scales, axes, and formats.
      //const xScale = d3.scaleBand(xDomain, xRange).padding(xPadding);
      const yScale = yType(yDomain, yRange);
      //const xAxis = d3.axisBottom(xScale).tickSizeOuter(0);
      const yAxis = d3.axisLeft(yScale).ticks(height / 40, yFormat);
  
      const formatValue = yScale.tickFormat(100, yFormat);
      title = i => `${X[i]}\n${formatValue(Y[i])}`;
  
      svg.append("g")
          .attr("transform", `translate(${marginLeft},0)`)
          .attr("id", "yAxis")
          .call(yAxis)
          .call(g => g.select(".domain").remove())
          .call(g => g.selectAll(".tick line").clone()
              .attr("x2", width - marginLeft - marginRight)
              .attr("stroke-opacity", 0.1))
          .call(g => g.append("text")
              .attr("x", -marginLeft)
              .attr("y", 10)
              .attr("fill", "currentColor")
              .attr("text-anchor", "start")
              .text(yLabel));
  
      const bar = svg.append("g")
        .attr("fill", color)
        .selectAll("rect")
        .data(I)
        .join("rect")
          .attr("y", i => yScale(Y[i]))
          .attr("height", i => yScale(0) - yScale(Y[i]))
          .on('mouseover', function(d) {
                  d3.select(this).attr("fill", mouseoverColor)
              })
          .on('mouseout', function(d) {
                    d3.select(this).attr("fill", color)
                })
  
      if (title) bar.append("title")
          .text(title);
  
      svg.append("g")
        .attr("class", "barText")
        .attr("transform", `translate(0,${height - marginBottom})`)
        //.call(xAxis);
    }
  
    function ChartResize() {
      currentWidth = parseInt(d3.select('#div_basicResize').style('width'), 10);
      xRangeCur = [marginLeft, currentWidth - marginRight];
  
      svg.attr("width", currentWidth)
            .attr("viewBox","0 0 " + currentWidth + " " + height)
  
      var xScale = d3.scaleBand(xDomain, xRangeCur).padding(xPadding);
      var xAxis = d3.axisBottom(xScale).tickSizeOuter(0);
  
      // update the bar size
      d3.selectAll("rect")
        .attr("x", i => xScale(X[i]))
        .attr("width", xScale.bandwidth());
  
      d3.selectAll(".barText").call(xAxis);
  
    }
  
    window.addEventListener('resize', ChartResize );
  
  </script>

{% endblock %}